*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./Background.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.time-header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-size: 30px;
    color: rgb(245, 245, 245);
}

.button{
    background-color: rgb(134, 46, 185);
    border: none;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


.container{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
}

.hour-div{
    height: 60px;
    background-color: rgba(180, 179, 179, 0.5);
    border: rgb(17, 117, 163) 2px solid;
    border-radius: 20px;
    margin: 5px;
    padding: 8px;
}